
a:hover{
	cursor: pointer;
}
#pagination {
	display: flex;
	float: right;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
#pagination ul li {
	color: #fff;
	display: flex;
}
#pagination ul li a {
	background-color: #444b6e;
	padding: 5px 10px;
	border: 2px solid #3d315b;
	color : #FFFFFF;
	border-right: 0;
}
#pagination ul li.active a {
	background-color: #9ab87a;
}
#pagination ul li:first-child a {
	border-radius: 5px 0 0 5px;
}
#pagination ul li:last-child a {
	border-radius: 0 5px 5px 0;
	border-right: 2px solid #3d315b;
}

